In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./users_2m.csv')

In [3]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
df.head()

   user_id  item_id  category_id status        date  dayofweek  hour
0   309818  4710383      1792277     pv  2017-11-29          2    20
1   309818  1421743      4069500     pv  2017-11-29          2    20
2   309818   800137      1216617     pv  2017-11-29          2    20
3   309818  2493122      1216617     pv  2017-11-29          2    20
4   309818  1461532      3102419     pv  2017-11-30          3     7

In [5]:
df.columns

Index(['user_id', 'item_id', 'category_id', 'status', 'date', 'dayofweek',
       'hour'],
      dtype='object')

In [6]:
df.status.unique()

array(['pv', 'buy', 'fav', 'cart'], dtype=object)

find out users_buy

data engineering
1. unique user_id
2. count how many item and category of each user
3. count how many status does each user have
4. categorize time and date, logic, RMF
5. find or create a target for ml

In [7]:
df[df['user_id']==309818].item_id.nunique()/len(df[df['user_id']==309818].item_id)

0.9130434782608695

我需要的是每个用户id看过多少item,category,

In [8]:
len(df['user_id'].unique())

29233

In [ ]:
user_list = list(df['user_id'].unique())

In [10]:
item_numb = []
for i in user_list:
    item_numb.append({i:df[df['user_id']==i].item_id.nunique()})

keys = []
for i in item_numb:
    keys.append(list(i.keys()))

keys=[i[0] for i in keys]

len(keys)

values = []
for i in item_numb:
    values.append(list(i.values()))

values = [i[0] for i in values]

len(values)

In [96]:
id_item = pd.DataFrame(zip(keys, values), columns=['id','items'])

In [97]:
user_list = list(df['user_id'].unique())

list_dict = []
for i in user_list:
    list_dict.append({i:df[df['user_id']==i].category_id.nunique()})

keys = []
for i in list_dict:
    keys.append(list(i.keys()))

keys=[i[0] for i in keys]

values = []
for i in list_dict:
    values.append(list(i.values()))

values = [i[0] for i in values]

In [102]:
id_cate = pd.DataFrame(zip(keys, values), columns=['id','category'])

In [104]:
data = id_item.merge(id_cate, on='id')

接下来我需要每一个用户的状态数值，多少pv,cart...

In [105]:
df.head()

   user_id  item_id  category_id status        date  dayofweek  hour
0   309818  4710383      1792277     pv  2017-11-29          2    20
1   309818  1421743      4069500     pv  2017-11-29          2    20
2   309818   800137      1216617     pv  2017-11-29          2    20
3   309818  2493122      1216617     pv  2017-11-29          2    20
4   309818  1461532      3102419     pv  2017-11-30          3     7

In [117]:
list(df[df['user_id']==309818].status.value_counts())

[0.8840579710144928,
 0.08695652173913043,
 0.014492753623188406,
 0.014492753623188406]

In [121]:
status.groupby('user_id').status.count()

user_id
34         46
42         57
43        144
310        72
311        44
         ...
445050     16
445061     77
445062    141
445067     54
445081     61
Name: status, Length: 29233, dtype: int64

In [110]:
status

         user_id status
0         309818     pv
1         309818     pv
2         309818     pv
3         309818     pv
4         309818     pv
...          ...    ...
2748961   445081     pv
2748962   445081     pv
2748963   445081     pv
2748964   445081     pv
2748965   445081     pv

[2748966 rows x 2 columns]

In [129]:
dict(status[status['user_id']==309818].status.value_counts())

{'pv': 61, 'cart': 6, 'buy': 1, 'fav': 1}

In [ ]:
stats_count =[]
for i in user_list:
    stats_count.append(dict(status[status['user_id']==i].status.value_counts()))