In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./users_2m.csv')

In [3]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
df.head()

   user_id  item_id  category_id status        date  dayofweek  hour
0   309818  4710383      1792277     pv  2017-11-29          2    20
1   309818  1421743      4069500     pv  2017-11-29          2    20
2   309818   800137      1216617     pv  2017-11-29          2    20
3   309818  2493122      1216617     pv  2017-11-29          2    20
4   309818  1461532      3102419     pv  2017-11-30          3     7

In [5]:
df.columns

Index(['user_id', 'item_id', 'category_id', 'status', 'date', 'dayofweek',
       'hour'],
      dtype='object')

In [6]:
df.status.unique()

array(['pv', 'buy', 'fav', 'cart'], dtype=object)

find out users_buy

data engineering
1. unique user_id
2. count how many item and category of each user
3. count how many status does each user have
4. categorize time and date, logic, RMF
5. find or create a target for ml

In [7]:
df[df['user_id']==309818].item_id.nunique()/len(df[df['user_id']==309818].item_id)

0.9130434782608695

我需要的是每个用户id看过多少item,category,

In [8]:
len(df['user_id'].unique())

29233

In [10]:
user_list = list(df['user_id'].unique())

item_numb = []
for i in user_list:
    item_numb.append({i:df[df['user_id']==i].item_id.nunique()})

keys = []
for i in item_numb:
    keys.append(list(i.keys()))

keys=[i[0] for i in keys]

len(keys)

In [87]:
values = []
for i in item_numb:
    values.append(list(i.values()))

values = [i[0] for i in values]

len(values)

In [96]:
id_item = pd.DataFrame(zip(keys, values), columns=['id','items'])

In [97]:
user_list = list(df['user_id'].unique())

list_dict = []
for i in user_list:
    list_dict.append({i:df[df['user_id']==i].category_id.nunique()})

In [99]:

keys = []
for i in list_dict:
    keys.append(list(i.keys()))

keys=[i[0] for i in keys]

values = []
for i in list_dict:
    values.append(list(i.values()))

values = [i[0] for i in values]

In [101]:
pd.DataFrame(zip(keys, values), columns=['id','category'])

           id  category
0      309818        37
1      309824        19
2      309833        28
3      309836        21
4      309840        46
...       ...       ...
29228   44506        15
29229  445061        11
29230  445062        25
29231  445067        21
29232  445081        20

[29233 rows x 2 columns]