In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('./users_2m.csv')

In [8]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [9]:
df.head()

   user_id  item_id  category_id status        date  dayofweek  hour
0   309818  4710383      1792277     pv  2017-11-29          2    20
1   309818  1421743      4069500     pv  2017-11-29          2    20
2   309818   800137      1216617     pv  2017-11-29          2    20
3   309818  2493122      1216617     pv  2017-11-29          2    20
4   309818  1461532      3102419     pv  2017-11-30          3     7

In [12]:
df.columns

Index(['user_id', 'item_id', 'category_id', 'status', 'date', 'dayofweek',
       'hour'],
      dtype='object')

In [15]:
df.status.unique()

array(['pv', 'buy', 'fav', 'cart'], dtype=object)

find out users_buy

data engineering
1. unique user_id
2. count how many item and category of each user
3. count how many status does each user have
4. categorize time and date, logic, RMF
5. find or create a target for ml

In [40]:
df[df['user_id']==309818].item_id.nunique()/len(df[df['user_id']==309818].item_id)

0.9130434782608695

我需要的是每个用户id看过多少item,category,

In [44]:
len(df['user_id'].unique())

29233

In [46]:
len(list(df['user_id'].unique()))

29233

In [ ]:
user_list = list(df['user_id'].unique())